In [2]:
import numpy as np
import pandas as pd
from random import randint

In [3]:
count = 300
data = {
    "trainId": [randint(1000, 9999) for _ in range(count)],
    "trainSpeed": [randint(5, 150) for _ in range(count)],
    "lastStation": [randint(1, 1000) for _ in range(count)]
    
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df.to_csv("trains.csv")

In [6]:
df.head(10)

   trainId  trainSpeed  lastStation
0     5771          24          992
1     3376          39          578
2     4260         129          468
3     6740         117          561
4     7705          97            2
5     6009          90          467
6     1890           5          889
7     9746          32          509
8     7213          95          930
9     1418         112           24

In [9]:
df.index = [chr(randint(1, 100)) for _ in range(300)]
df.to_csv("trains.csv")